@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.container {
     width: 85%;
     margin: 0 auto;

}

header {
     max-width: 100%;
     background: black;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

nav {
     display: flex;
}

a i {
     font-size: 30px;
}

ul {
     display: flex;
     justify-content: center;
     align-items: center;
}

ul li {
     font-size: 20px;
     list-style: none;
}

ul a {
     text-decoration: none;
     padding: 20px;
     color: #fff;
     font-style: italic;
     text-transform: uppercase;
     transition: all .5s;
}

ul a:hover {
     color: darkorange;
}

.cart-icon {
     color: white;
     cursor: pointer;
}

/* product */
.product {
     padding: 20px;
}
.product-content {
     display: flex;
     flex-wrap: wrap;
     gap: 19px;
}
.product-item {
     background-color: white;
     width: 300px;
     /* height: 350px; */
     
     border-radius: 22px;
     -webkit-box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.49);
     -moz-box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.49);
     box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.49);
     transition: all .5s;
     position: relative;
}
/* .product-item::before {
     content: "";
     position: absolute;
     background: #fff;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;

} */

.product-item img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 20px;
}

.product-title {
     padding: 0 15px 15px;
     transition: all .5s;
}

.product-name, .product-desc ,.product-price{
     padding:2px 0;
     display:-webkit-box;
     -webkit-line-clamp:1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
}
.product-name {
     text-transform: uppercase;
}
.product-price {
     margin-top: auto;   
}
.product-frontCamera {
     padding-bottom: 10px;
}
.clr {
     color: chocolate;
}
.product-backCamera {
     display:-webkit-box;
     -webkit-line-clamp:1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
}
.product-btn {
     width: 100%;
     background: black;
     color: #fff;
     border: none;
     padding: 10px 0px;
     border-radius: 20px;
     cursor: pointer;
     transition: all .5s;
}
.product-btn:hover {
     background: rgba(255, 140, 0, 0.816);
     color: black;
     font-weight: 600;
}
.product-seach {
     padding: 20px;
}
select {
     padding: 10px;
}

/* -----Cart------*/
.cart{
     position: fixed;
     height: 100vh;
     width: 40%;
     right: 0;
     top: 0;
     background-color: rgb(246, 246, 246);
     margin: auto;
     text-align: center;
     padding-top: 30px;
     right: -100%;
     transition: all .3s ease;
}

.cart h1{
     margin-bottom: 30px;
}

.cart table {
     width: 100%;
}

.cart table thead tr th:first-child{
     text-align: left;
}

.cart table tr td {
     border-bottom: 1px solid #ddd;
     padding: 12px 0;
}

.cart table tbody tr td:last-child {
     text-align: right;
}

.cart a {
     position: absolute;
     top: 20px;
     right: 30px;
     cursor: pointer;
     text-decoration: none;
     color: black;
}

.cart-btn {
     /* display: flex;
     justify-content: space-evenly; */
     position: absolute;
     align-self: flex-end;
     flex-direction: column;
     right: 7%;
}

.cart-btn button {
     background-color: white;
     padding: 10px 20px;
     margin-top: 20px;
     border-radius: 10px;
     border: 1px solid;
     cursor: pointer;
     transition: .5s;
}
.cart-btn button:hover {
     background-color: darkorange;
     box-shadow: inset 20em 0 0 0 darkorange;
}
.manageProduct {
     /* text-decoration: none; */
     padding: 10px;
     margin-left: 20px;
     /* background: transparent; */
     outline: none;
     border: 0.5px solid;
     border-radius: 8px;
     color: #000;
}
.manageProduct:hover{
     opacity: 0.8;
}
.manageProduct a{
     text-decoration: none;
     outline: none;
     color: #000;
}
.icon-delete{
     border: none;
    font-size: 20px;
    color: #2700ff;
}
.cart-icon {
     display: flex
}
.fa-opencart{
     font-size: 25px;
}
#totalItem{
     margin-top: -10px;
     padding-left: 5px;
     color: rgb(207, 210, 30);
}
.fa-trash{
     cursor: pointer;
}
footer{
     background: #000;
     height: 100px;
}