<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Quản Lý Sản Phẩm</h6>
                            <div>
                                <button onclick="creatBtnAdd()" id="btnThemNguoiDung" class="btn btn-primary mt-2"
                                    data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-plus mr-1"></i>
                                    Thêm Mới
                                </button>
                                <button class="btn btn-primary mt-2 mx-3">
                                    <a class="home" href="../home/index.html">Home</a>
                                </button>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Screen</th>
                                            <th>img</th>
                                            <th>desc</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyProducts"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <!-- Modal body -->
                <form class="modal-body">
                    <div class="form-group">
                        <label>Tên điện thoại</label>
                        <input id="NamePhone" class="form-control" placeholder="Nhập tên" />
                        <span class="sp-thongbao" id="tbTenDT"></span>
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <input id="gia" class="form-control" placeholder="Nhập giá" />
                        <span class="sp-thongbao" id="tbGiaDT"></span>

                    </div>
                    <div class="form-group">
                        <label>Màn hình</label>
                        <input id="manHinh" class="form-control" placeholder="Nhập kích thước màn hình" />
                        <span class="sp-thongbao" id="tbManHinh"></span>

                    </div>
                    <div class="form-group">
                        <label>backCamera</label>
                        <input id="camSau" class="form-control" placeholder="Camera sau" />
                        <span class="sp-thongbao" id="tbCameraSau"></span>

                    </div>
                    <div class="form-group">
                        <label>frontCamera</label>
                        <input id="camTruoc"                        class="form-control" placeholder="Camera trước" />
                        <span class="sp-thongbao" id="tbCameraTruoc"></span>

                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <input id="hinhAnh" class="form-control" placeholder="Nhập vào hình ảnh" />
                        <span class="sp-thongbao" id="tbHinh"></span>

                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea name="" id="moTa" class="form-control" placeholder="Nhập vào mô tả"></textarea>
                        <span class="sp-thongbao" id="tbMoTa"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Loại Điện thoại: </label>
                        <select class="form-control" id="loaiDT">
                            <option>Chọn Diện Thoại</option>
                            <option>IPHONE</option>
                            <option>SAMSUNG</option>
                        </select>
                        <span class="sp-thongbao" id="tbLoạiDT"></span>
                    </div>

                </form>
                <!-- Modal footer -->
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <style>
        .modal-content{
            color: #191919;
            border-radius: 10px;
        }
        .sp-thongbao {
            color: red;
            margin-left: 2px;
            display: none;
        }
    </style>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../admin/models/Product.js"></script>
    <script src="../../admin/services/ProductService.js"></script>
    <script src="../../admin/controllers/main.js"></script>
   
</body>

</html>