<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Nhóm 4 An Long Quang</title>
     <!-- font-awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

     <!-- Main -->
     <link rel="stylesheet" href="./css/style.css">
</head>

<body>
     <header>
          <nav>
               <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
               </ul>
          </nav>
          <a href=""><i class="fab fa-opencart"></i></a>
     </header>

     <section class="product">
          <div class="container">
               <div class="product-seach">
                    <select id="produc-sp">
                         <option value="" selected>Chọn sản phẩm</option>
                         <option value="ip">IPhone</option>
                         <option value="ss">SamSung</option>                      
                       </select>
               </div>
               <div class="product-content" id="product-content">
                   
                    <div class="product-item">
                         <div class="product-img">
                              <img src="https://images.unsplash.com/photo-1534353436294-0dbd4bdac845?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                                   alt="">
                         </div>
                         <div class="product-title">
                              <h3 class="product-name">Iphone X</h3>
                              <p class="product-desc">
                                   Thiết kế mang tính đột aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                              </p>

                              <div class="product-price">
                                   <span>$</span>  1000 

                              </div>
                              <button class="product-btn">
                                   Add to cart
                              </button>
                         </div>
                    </div>


               
               </div>
          </div>
     </section>

     <footer>

     </footer>

     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="../../models/QLSP.js"></script>
     <script src="../../controllers/main.js"></script>
</body>

</html>