<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Nhóm 4 An Long Quang</title>

     <!-- FONT GOOGLE -->


     <!-- font-awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
     
     <!-- Main -->
     <link rel="stylesheet" href="./css/style.css">
</head>

<body>
     <header>
          <nav>
               <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
               </ul>
          </nav>
          <div class="cart-icon">
               <a href="../cart/index.html">
                    <i class="fab fa-opencart"></i>
               </a>
          </div>
     </header>

     <section class="product">
          <div class="container">
               <div class="product-seach">
                    <select id="produc-sp" onchange="onchangeSearch()">
                         <option value="" selected>Chọn sản phẩm</option>
                         <option value="IPHONE">IPHONE</option>
                         <option value="SAMSUNG">SAMSUNG</option>
                    </select>
                    <button class="manageProduct btn btn-primary">
                         <a href="../admin/tables.html">Manage Products</a>
                    </button>
               </div>
               <div class="product-content" id="product-content">

                    <div class="product-item">
                         <div class="product-img">
                              <img src="https://images.unsplash.com/photo-1534353436294-0dbd4bdac845?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                                   alt="">
                         </div>
                         <div class="product-title">
                              <h3 class="product-name">Iphone X</h3>
                              <p class="product-desc"> </p>
                              <div class="product-price">
                                   <span></span>
                              </div>
                              <button class="product-btn" onclick="addCart()"></button>
                         </div>
                    </div>

               </div>

          </div>
     </section>

     <section class="cart">
          <div class="container">
               <a href="#"><i class="fa fa-times"></i></a>
               <h1>Shopping Cart</h1>
               <form>
                    <table>
                         <thead>
                              <tr>
                                   <th>items</th>
                                   <th>Quantity</th>
                                   <th>Price</th>
                                   <th></th>
                              </tr>
                         </thead>
                         <tbody id="tbody">
                              <!-- <tr>
                                   <td style="display: flex; align-items: center;"><img style="width: 70px;"
                                             src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-hh-600x600.jpg"
                                             alt="">Iphone X</td>
                                   <td><input style="width: 30px; outline: none;" type="number" value="1" min="1"></td>
                                   <td><span>$ 1000</span></td>
                                   <td style="cursor: pointer;"><i class="fa fa-trash"></i></td>
                              </tr>
                              <tr>
                                   <td style="display: flex; align-items: center;"><img style="width: 70px;"
                                             src="https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-trang-new-600x600-600x600.jpg"
                                             alt="">Samsung Galaxy M51</td>
                                   <td><input style="width: 30px; outline: none;" type="number" value="1" min="1"></td>
                                   <td><span>$ 35</span></td>
                                   <td style="cursor: pointer;"><i class="fa fa-trash"></i></td>
                              </tr> -->
                         </tbody>
                    </table>
                    <div style="text-align: right;" class="price-total">
                         <p style="font-weight: bold;">Total: <span>$ 1000</span></p>
                    </div>
                    <div class="cart-btn">
                         <button>Purchase</button>
                         <button>Clear Cart</button>
                    </div>
               </form>
          </div>
     </section>

     <footer>

     </footer>

     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  An -->
     <script src="../home/js/maincart.js"></script>
<!-- ======= -->
     <script src="../../home/models/Product.js"></script>
     <script src="../../home/models/Cart.js"></script>
     <script src="../../home/services/ProductService.js"></script>
     <script src="../../home/controllers/main.js"></script>

</body>

</html>